NET "init_pause" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ; 
NET "stop" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ; 
NET "sel0" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ; 
NET "sel1" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "clk" LOC = "C9"  | IOSTANDARD = LVCMOS33 ; 

NET "led0" LOC = "D4" | IOSTANDARD = SSTL2_I ;
NET "led1" LOC = "C3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "led2" LOC = "D6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led3" LOC = "E6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led4" LOC = "D13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "led5" LOC = "A7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "led6" LOC = "G9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led7" LOC = "A8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
