NET "x" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ; 
NET "y" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ; 
NET "cin" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ; 
NET "cout" LOC = "A8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "s" LOC = "G9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 